In [5]:
from PIL import Image
import pandas as pd
import ast

In [12]:
test_csv = "/home/sourove/code/Python/vqa-2/annotation/relevants/all/test_data.csv"
df = pd.read_csv(test_csv)
df.head(3)

,filename,question,options,answer,category
0,BNATURE_3167.jpg,ছবিটি কোন ধর্মাবলম্বীদের প্রার্থনা স্থান?,"['হিন্দু', 'মুসলিম', 'বৌদ্ধ', 'খ্রিস্টান']",মুসলিম,Arts & History
1,BORNON_3694.jpg,এই মহিলাটি কোন ঐতিহ্যবাহী পোশাক পরেছেন?,"['শাড়ি', 'কুর্তা', 'লেহেঙ্গা', 'সালোয়ার কামিজ']",শাড়ি,Arts & History
2,CHITTRON_3491.png,চিত্র প্রদর্শিত মাছটি বাংলাদেশের কি হিসেবে অভি...,"['জাতীয় মাছ', 'সাধারণ মাছ', 'ছোট মাছ', 'কোনটি...",জাতীয় মাছ,Arts & History

In [17]:
df = df[:3]
df.head()

,filename,question,options,answer,category
0,BNATURE_3167.jpg,ছবিটি কোন ধর্মাবলম্বীদের প্রার্থনা স্থান?,"['হিন্দু', 'মুসলিম', 'বৌদ্ধ', 'খ্রিস্টান']",মুসলিম,Arts & History
1,BORNON_3694.jpg,এই মহিলাটি কোন ঐতিহ্যবাহী পোশাক পরেছেন?,"['শাড়ি', 'কুর্তা', 'লেহেঙ্গা', 'সালোয়ার কামিজ']",শাড়ি,Arts & History
2,CHITTRON_3491.png,চিত্র প্রদর্শিত মাছটি বাংলাদেশের কি হিসেবে অভি...,"['জাতীয় মাছ', 'সাধারণ মাছ', 'ছোট মাছ', 'কোনটি...",জাতীয় মাছ,Arts & History

In [24]:
# prompt
def prompt(question: str, options: list):
    return """You are asked a question based on the provided image and given four options to choose your answer from. You have to choose one option only.
The options will be given in 1. option_a, 2. option_b, 3. option_c, 4. option_d format. You need to provide only the correct numerical value assigned
to the correct answer. The question asked will be based on the image and you need to use the image as the context to select the correct answer. 
    
question: {},
options: 1. {}, 2. {}, 3. {}, 4. {}

    """.format(question, options[0], options[1], options[2], options[3])

In [36]:
def get_answer(item):
    filename = item["filename"]
    question = item["question"]
    answer = item["answer"]
    options = item["options"]
    parsed_options = ast.literal_eval(options) 
    # print(type(parsed_options), parsed_options)
    
    prepared_prompt = prompt(question, parsed_options)
    
    
    print(parsed_options.index(answer) +1)
    return (parsed_options.index(answer)+1)

In [37]:
df['gen'] = df.apply(lambda row: get_answer(row), axis=1)

2
1
1

In [38]:
df.head(3)

,filename,question,options,answer,category,gen
0,BNATURE_3167.jpg,ছবিটি কোন ধর্মাবলম্বীদের প্রার্থনা স্থান?,"['হিন্দু', 'মুসলিম', 'বৌদ্ধ', 'খ্রিস্টান']",মুসলিম,Arts & History,2
1,BORNON_3694.jpg,এই মহিলাটি কোন ঐতিহ্যবাহী পোশাক পরেছেন?,"['শাড়ি', 'কুর্তা', 'লেহেঙ্গা', 'সালোয়ার কামিজ']",শাড়ি,Arts & History,1
2,CHITTRON_3491.png,চিত্র প্রদর্শিত মাছটি বাংলাদেশের কি হিসেবে অভি...,"['জাতীয় মাছ', 'সাধারণ মাছ', 'ছোট মাছ', 'কোনটি...",জাতীয় মাছ,Arts & History,1

In [16]:
list_numbers = [4, 5, 6, 7, 8, 9, 10]
element = 10 # Not in the list
list_numbers.index(element)

6